{% extends 'base.html' %}

{% block title %} lasha {% endblock %}

{% block content %}

<h2> breaking bad shop </h2>

<a href="https://www.facebook.com/Craftshop11/">   ფეისბუქ გვერდზე გადასასვლელად დააჭირეთ აქ</a>

<div class="card-group">
  <div class="card">
    <img src="static/images/shop1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


<div class="card-group">
  <div class="card">
    <img src="static/images/shop4.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop5.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop6.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


<div class="card-group">
  <div class="card">
    <img src="static/images/shop7.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop8.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop9.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="static/images/shop10.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL..</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop11.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/images/shop12.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"> ფასი 34 ლარი! საკურიერო მომსახურება! ზომები:S, M, L, XL, 2XL.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>


{% endblock %}